@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Mooli&family=Roboto:ital,wght@1,500&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* img{
    width: 100%;
    height: auto;
    display: block;
} */

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(192, 231, 237);
}

.App {
  background-image: url(./components/images/background.webp);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(151, 142, 115, 0.32);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flexbody {
  min-height: 800px;
  border-style: outset;
  border-color: black;
  background-image: url(./components/images/background.webp);
  background-size: cover;
  background-color: rgba(151, 142, 115, 0.32);
  margin: 20px;
  text-align: left;
}
.flexmain {
  min-height: 500px;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flexmainresort {
  min-height: 500px;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flexfoot {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;

  display: flex;
  min-height: 200px;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgba(70, 172, 192, 0.9);
}

.headerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2px;
  background-color: rgba(81, 193, 215, 0.9);
}

.headerbox h1 {
  margin: 0px;
}

.agencyname {
  display: inline-block;

  min-width: 300px;

  text-align: left;
  color: rgb(254, 254, 4);
  font-style: oblique;
  font-size: x-large;
  font-weight: 500;
  font-family: Kalam, Mooli, Roboto, Georgia, "Times New Roman", Times, serif;
}

.logobox {
  display: inline-block;

  width: 110px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  border-radius: 90%;
  border-style: solid;
  border-color: rgb(189, 154, 58);
  background-color: white;
  text-align: left;
}

.logo {
  width: 110px;
  height: 100px;
  border-radius: 90%;
}

.navbox {
  height: 30px;
  line-height: 25px;
  width: 150px;

  float: right;
  font-size: 100%;

  border-radius: 10cap;
  /* margin-top: 26px; */
  margin-right: 8px;

  justify-self: right;
  text-align: center;
  color: black;
  background-color: rgb(231, 231, 69);
  border: rgb(111, 106, 99) 3px;
  border-style: solid;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.navbox:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dealsbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 300px;
  max-width: 600px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2cap;
  border-style: ridge;
  border-color: red;
  border-width: 5px;
  background-color: rgba(237, 224, 237, 0.832);
  background-size: cover;
  text-align: center;
  color: red;
  font-size: medium;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.aboutus {
  height: 420px;
  /* min-width: 350px; */
  max-width: 600px;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url(./components/images/FWlogo.jpg);
  background-size: cover;
  border-style: ridge;
  border-color: red;
  border-width: 5px;
  border-radius: 2cap;
  background-color: rgba(241, 242, 242, 0.885);
  text-align: left;
  color: rgb(237, 32, 0);
  font-size: medium;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.companybox {
  text-align: center;
  border-color: rgb(101, 172, 219);
  /* height: 150px; */
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  justify-self: center;
  flex-grow: 1;

  font-size: medium;
  font-style: oblique;
  color: rgb(254, 254, 4);
  /* background-color: rgb(81, 193, 215); */
}
.cornerboxleft {
  /* height: 150px; */
  width: 300px;
  align-self: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  color: rgb(254, 254, 4);
  text-align: center;
  /* background-color: rgb(81, 193, 215); */
}
.cornerboxright {
  /* height: 150px; */
  width: 300px;
  align-self: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  color: rgb(254, 254, 4);
  /* background-color: rgb(81, 193, 215); */
}
.fontxx {
  font-size: xx-large;
}
.center {
  justify-self: center;
}

#dealpic {
  width: 250px;
  /* float: left;
  width: 150px;

  margin-right: 20px;
  margin-bottom: 20px;
  */
}
.fontxxred {
  font-size: xx-large;
  color: red;
}
.sloganbox {
  text-align: center;
  height: 50px;
  padding-left: 10px;
  color: rgb(254, 254, 4);
  background-color: transparent;
  font-size: large;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.resortbutton {
  height: 30px;
  width: 200px;

  line-height: 25px;
  text-align: center;

  color: black;
  background-color: rgb(243, 243, 176);
  border: rgb(111, 106, 99) 3px;
  border-radius: 10cap;
  border-style: solid;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.resortbutton:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c00;
  border-color: #c00;
}

.resortpic {
  height: 250px;
  width: 300px;
}
.resortpicbox {
  padding-top: 20px;
  width: 250px;
  height: 350px;
}
.resortdescbox {
  width: 280px;
  height: 300px;
  text-align: start;
  margin-left: 20px;

  font-family: Georgia, "Times New Roman", Times, serif;
}
.resortbox {
  display: flex;
  flex-wrap: wrap;

  justify-content: left;
  min-height: 300px;

  max-width: 600px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2cap;
  border-style: ridge;
  border-color: black;
  border-width: 5px;
  background-color: rgba(216, 215, 210, 0.85);
  background-size: cover;
  text-align: center;
  color: black;
  font-size: medium;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.resortbox img {
  align-self: flex-start;
  width: 250px;
}

.bookingbox {
  display: flex;
  height: 500px;
  width: 600px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2cap;
  border-style: ridge;
  border-color: black;
  border-width: 5px;
  background-color: rgba(216, 215, 210, 0.85);
  background-size: cover;
  text-align: center;
  color: black;
  font-size: medium;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.bookingboxsmall {
  height: 200px;
  width: 500px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2cap;
  border-style: ridge;
  border-color: rgb(237, 32, 0);
  border-width: 5px;
  background-color: rgba(216, 215, 210, 0.85);
  background-size: cover;
  text-align: left;
  color: rgb(237, 32, 0);
  font-size: medium;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.bookingboxlarge {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2cap;
  border-style: ridge;
  border-color: rgb(237, 32, 0);
  border-width: 5px;
  background-color: rgba(216, 215, 210, 0.85);
  background-size: cover;
  text-align: left;
  color: rgb(237, 32, 0);
  font-size: medium;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

#destinationbox {
  height: 30px;
  width: 300px;
  text-align: left;
  color: black;
  background-color: white;
  border: rgb(111, 106, 99) 2px;
  border-radius: 8px;
  border-style: solid;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

#peoplebox {
  height: 30px;
  width: 50px;
  text-align: left;
  color: black;
  background-color: white;
  border: rgb(111, 106, 99) 2px;
  border-radius: 8px;
  border-style: solid;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.inputbox {
  height: 30px;
  width: 350px;
  float: inline-end;
  text-align: left;
  color: black;
  background-color: white;
  border: rgb(111, 106, 99) 2px;
  border-radius: 8px;
  border-style: solid;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.expirybox {
  height: 30px;
  width: 100px;
  justify-self: flex-end;
  text-align: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 12px;
  color: black;
  background-color: white;
  border: rgb(111, 106, 99) 2px;
  border-radius: 8px;
  border-style: solid;
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

label {
  display: inline-block;
  padding-top: 8px;

  margin-right: 12px;
}

@media screen and (max-width: 1070px) {
  .agencyname {
    font-size: medium;
    margin-top: 10px;
  }
}

@media screen and (max-width: 930px) {
  .agencyname {
    font-size: medium;
    margin-top: 10px;
  }

  .flexnav {
    flex-direction: column-reverse;
    justify-self: left;
  }

  .navbox {
    float: none;
    margin: 4px 8px;
  }
}

@media screen and (max-width: 630px) {
  .headerbox h1 {
    margin-top: 20px;
  }

  .agencyname {
    min-width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .logobox {
    margin-left: 20px;
  }

  .agencyname {
    display: none;
  }

  .dealsbox,
  .aboutus,
  .resortbox {
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;

    border-radius: 0px;
    border-left: none;
    border-right: none;
  }

  #agentimg {
    width: 200px;
  }

  .flexfoot {
    flex-direction: column;
  }

  .companybox {
    font-size: small;
  }

  .cornerboxleft {
    font-size: medium;
    align-self: center;
  }

  .cornerboxright {
    font-size: medium;
    align-self: center;
  }

  .sloganbox {
    font-size: large;
  }

  .resortbox {
    display: flex;
    min-width: 290px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 40px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .resortdescbox {
    min-height: 350px;
    margin-left: 0px;
    text-align: justify;
  }

  .bookingboxlarge,
  .bookingboxsmall {
    padding: 12px;
    width: 100%;

    margin-left: 0px;
    margin-right: 0px;

    border-radius: 0px;
    border-left: none;
    border-right: none;
  }

  .inputbox,
  .expirybox {
    display: block;
  }

  .inputbox {
    width: 60%;
  }
}

@media screen and (max-width: 300px) {
  .logobox {
    display: none;
  }

  .flexnav {
    margin-left: 50px;
  }
}
